{# offcanvas for mobile user account #}

<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="userOffcanvas" aria-labelledby="userOffcanvasLabel">
	<div class="offcanvas-header bg-dark">
		<h5 class="offcanvas-title text-white" id="userOffcanvasLabel">Menu guide</h5>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
	</div>
	<div class="offcanvas-body bg-dark p-0">
		<nav class="navbar navbar-dark">
		    <ul class=" navbar-nav w-100 justify-content-between">
               <li class="nav-item ms-2">
                    <a class="nav-account nav-link pl-0" href="{{ path('app_guide_account_index') }}">
                        <i class="fa-solid fa-house fs-5"></i>
                        <span class="fw-bold fs-5 text-light">Accueil</span>
                    </a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-account nav-link pl-0" href="{{ path('app_user_reservations_index') }}">
                        <i class="fa-solid fa-calendar fs-5"></i>
                        <span class=" d-md-inline fs-5 text-light">Réservations</span>
                    </a>
                </li>
            </ul>
		</nav>
	</div>
</div>
