{% extends 'base.html.twig' %}

{% block title %}Réinisialisation de Mot de Passe{% endblock %}

{% block body %}
<section class="container wrapper d-flex justify-content-center p-5 align-items-center">
    <div class="card shadow-sm p-4">
        <h1 class="h4 mb-4 text-center">Réinitialisation de Mot de Passe</h1>
        {{ form_start(requestPassForm) }}
            {{ form_row(requestPassForm.email, {'attr': {'class': 'form-control mb-3'}}) }}
            <button type="submit" class="btn btn-primary w-100 mb-2">Envoyer</button>
        {{ form_end(requestPassForm) }}
    </div>
</section>
{% endblock %}
