{% extends 'base.html.twig' %}

{% block title %}Réinisialisation de Mot de Passe{% endblock %}

{% block body %}
<section>
    <h1>Réinisialisation de Mot de Passe</h1>
    {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        <button type="submit">Envoyer</button>

    {{ form_end(requestPassForm) }}
</section>
{% endblock %}
