@import "variables.scss";



.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.text{
    &-red{
        color: red;
    }
    &-orange{
        color: orange;
    }
    &-green{
        color: green;
    }

}
.preview{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
}

canvas {
    width: 100% !important;
    height: auto !important;  /* Maintien la hauteur proportionnelle */
}

/* Masquer la div lorsqu'elle est vide */
.autocomplete-suggestions:empty {
    display: none;
}