// Guide card on reservation page


.asanoha-card {
   position: relative;
   background-color: #F6F1EB !important;
   background-image: url('data:image/svg+xml;utf8, <svg width="36" height="36" xmlns="http://www.w3.org/2000/svg"><g opacity="0.085"><polygon points="18, 0 36, 9 36, 27 18, 36 0, 27 0, 9" fill="none" stroke="%23003049" stroke-width="1"/><polygon points="18, 6 30, 12 30, 24 18, 30 6, 24 6, 12" fill="none" stroke="%23FAB12F" stroke-width="0.8"/></g></svg>');
   background-size: 36px 36px;
   background-repeat: repeat;
}