@use "../_mixins" as mixins;

.hero_reserv{
    @include mixins.bigtitle($url: '/images/reservations/reservations.jpg');
    background-position: center;
}

.hero_map{
    @include mixins.bigtitle($url: '/images/map/map.jpg');
    background-position: center;
}

.hero_regions{
    @include mixins.bigtitle($url: '/images/regions/regions.jpg');
}

.hero_kansai{
    @include mixins.bigtitle($url: '/images/regions/kansai/kansai4.jpg');
    background-position: top; 
}