{% extends 'base.html.twig' %}

{% block title %}Avis Admin{% endblock %}

{% block body %}
<section class="container-fluid wrapper">
  <div class="row">
    {% include "_partials/_adminav.html.twig" %}
    {# Burger offcanvas mobile #}
    <div class="col-12 d-flex d-md-none align-items-center bg-dark py-2">
      <button class="btn btn-outline-light ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#adminOffcanvas" aria-controls="adminOffcanvas">
        <i class="fa fa-bars fs-4"></i>
      </button>
      <span class="text-white ms-3 fs-5">Menu admin</span>
    </div>

    {# Offcanvas menu mobile #}
    {% include "_partials/_offcanvas_adminav.html.twig" %}

    <section class="col-12 col-lg-10 col-md-9 pe-4 ps-3 border border-light bg-light p-2">
      <div class="ms-3">
        <h2>Avis</h2>
        <p class="border-bottom border-dark pb-3">Consultez et gérez vos avis ici.</p>
      </div>
      <div id="confirmReviews">
        <div id="reviewsList">
          <h3>Avis supérieur à 3 étoiles</h3>
          <div>
            {% set goodReviews = false %}
            {% for review in reviews %}
              {% if review.rate >= 3 and not review.validate %}
                {% set goodReviews = true %}
                {% include "cards/good_reviews_card.html.twig" %}
              {% endif %}
              {# Confirm reviews modal #}
              {% include "modals/admin_confirm_reviews_modal.html.twig" %}
              {# Cancel review modal #}
              {% include "modals/admin_remove_review_modal.html.twig" %}
            {% endfor %}
            {% if not goodReviews %}
              <p>Pas d'avis à valider</p>
            {% endif %}
          </div>
        </div>
        <div class="mt-4">
          <h3>Avis inférieur à 3 étoiles</h3>
          <div class="row">
            {% set badReviews = false %}
            {% for review in reviews %}
              {% if review.rate < 3 and not review.validate %}
                {% set badReviews = true %}
                {% include "cards/bad_reviews_card.html.twig" %}
              {% endif %}
              {# Confirm bad review modal #}
              {% include "modals/admin_confirm_bad_reviews_modal.html.twig" %}
              {# Cancel bad review modal#}
            {% endfor %}
            {% if not badReviews %}
              <p>Pas d'avis à valider</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
{% endblock %}