{% for message in app.flashes('notice') %}
    <div class="mb-3 alert alert-primary" role="alert">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="mb-3 alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}